.promo {
    align-items: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
    width: 100%;
}

.promo h1,
.promo h2,
.promo p {
    margin-bottom: .5rem;
}

.promo .banner{ 
    background:linear-gradient(-55deg, #092BC1 29%, #051140 29.1%, #051140 68%, #092BC1 68.1%); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.promo .banner .man{ 
    width: 25%;
}

.promo .banner .man img{ 
    width: 100%; 
}

.promo .banner .samsung{ 
    width: 25%;
} 
    
.promo .banner .samsung img{ 
    width:100%; 
} 

.offer {
    color: #EC093E;
    font-weight: bold;
}
    
@media (max-width:768px){ 
    .promo .banner .samsung{ 
        display: none; 
    }

    .promo .banner .man {
        width: 50%;
        margin: 1rem auto;
    }

    .promo .banner {
        flex-wrap: wrap;
    }
}
